<!DOCTYPE html>
<html>
<head>
  <title>今日の一言</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
      <li><%= link_to '今日の一言を投稿してみる',"/blogs/new" %></li>
      <li><a href="/blogs/">投稿一覧</a></li>

    </ul>
  </header>

<%= yield %>

  <footer>
    <p>今日の一言株式会社</p>
    <p>© 2015-2016 Copyright whisper Corp.</p>
  </footer>

</body>
</html>